.facs-button-active {
    background-color: green;

}
.facs-button-disabled {
    background-color: gray;
}
.facs-box {
    border: 1px solid dodgerblue;
    padding: 20px;
}
.facs-item {
    border: 1px solid darkslateblue;
    padding: 20px;

}
.facs-item-selected {
    border: 1px solid blueviolet;
    padding: 20px;
}
